body {
    background: linear-gradient(rgb(131, 226, 196), rgb(167, 121, 121));
}

.h1 {
    margin-left: 20%;
    margin-top: 9%;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 71, 71);
}

nav a {
    text-align: right;
    padding-left: 10%;
    margin-left: 70px;
    text-decoration: none;
    color: aliceblue;
    font-size: 160%;
}

section {
    padding-left: 7%;
}

.pic1 img {
    border-radius: 20%;
    cursor: pointer;
}
.pic2 img {
    border-radius: 20%;
    margin-top: 5%;
    cursor: pointer;

}
.pic3 {
    position: relative;
    float: left;
}

.pic3 img {
    margin-top: 3%;
    cursor: pointer;
}

.pic3 h1 {
    position: absolute;
    visibility: hidden;
    color: white;
    background-color: rgb(108, 240, 148);
    padding: 10%;
    border-radius: 10%;
    margin-top: 10%;
    margin-left: 25%;
}

.pic3:hover {
    cursor: pointer;
    visibility: hidden;
}

.pic3:hover h1 {
    visibility: visible;

}

.pic4 img {
    border-radius: 20%;
    margin-top: 5%;
    cursor: pointer;
}

.pic5 img {
    border-radius: 20%;
    margin-top: 5%;
    cursor: pointer;
}

.pic6 img {
    border-radius: 20%;
    margin-top: 5%;
    cursor: pointer;
}

#fst {
    margin-left: 8%;
}

#scnd {
    margin-left: 8%;
}

#thrd {
    margin-left: 10%;
}

#frth {
    margin-left: 12%;
}

.ffth {
    margin-left: 5%;
}

.sth {
    margin-left: 6%;
}

.svnth {
    margin-left: 10%;
}

.eght {
    margin-left: 15%;
}

.nnth {
    margin-left: 7%;
}

.tnth {
    margin-left: 13%;
}

#nxt {
    margin-left: 90%;
    background-color: yellow;
    height: 50px;
    border-radius: 20px;
}

#watch {
    margin-left: 30%;
    height: 50px;
    width: 200px;
    background-color: rgb(149, 255, 0);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/* nav bars */
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    margin-left: -25%;
    top: 0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%,#ffb199 100%);
    background-size: 100%; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
/* nav bar btn */
.fa-gem{
    margin-right: 0.5rem;
}
.navbar_menu{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}
.navbar_item{
    height: 80px;
}
.navbar_links{
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 1rem; */
    text-decoration: none;
    height: 100%;

}
.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}
.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}
@media  screen and (max-width:960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle.bar{
        width: 25px;
        height: 3px;
        transition: all 0.3s ease-in-out;
        margin: 5px auto;
        background: #fff;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        display: table;
        padding: 2rem;
        width: 100%;
    }
    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        width: 80%;
        align-items: center;
        height: 80px;
        margin: 0;
    }}